* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

#background-image {
    background-image: url("images/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    overflow-x: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name {
    font-size: 5em;
    font-family: 'Oswald', sans-serif;
    color: #f1f1f1;
    text-align: center;
    padding: 30px 0px 0px 0px;
    margin: 10px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#subtitle {
    font-size: 2.5em;
    font-family: 'Oswald', sans-serif;
    color: #f1f1f1;
    text-align: center;
    padding: 0px 0px 50px 0px;
}

.fields {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inner-title {
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #f1f1f1;
    padding: 30px;
    border: none;
    border-radius: 4px;
}

.field-text {
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    color: #f1f1f1;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.error-text {
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    color: #bb0000;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

select {
    background-color: #f1f1f1;
    color: #333333;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    border: none;
    font-size: 1.5em;
    border-radius: 4px;
    margin: 10px;
    width: 230px;
    text-align: left;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

input {
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    color: #333333;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin: 10px;
    background-color: #f1f1f1;
}

label{
    background-color: #f1f1f1;
    color: #333333;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    border: none;
    font-size: 1.5em;
    border-radius: 4px;
    margin: 10px;
    width: 230px;
    text-align: left;
}

.custom-file-upload {
    display: inline-block;
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px;
    transition-duration: 0.2s;
    color: #f1f1f1;
    cursor: pointer;
    text-align: left;
}

.button {
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    padding: 10px 20px;
    border: solid;
    border-radius: 4px;
    margin: 40px 10px;
    transition-duration: 0.2s;
    color: #f1f1f1;
    border-color: #f1f1f1;
    background-color: #442266;
}

.button:hover {
    background-color: #f1f1f1;
    color: #333333;
}

.delete-button {
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    color: #f1f1f1;
    padding: 10px 20px;
    border: solid;
    border-radius: 4px;
    border-color: #f1f1f1;
    margin: 40px 10px;
    background-color: #bb0000;
    transition-duration: 0.2s;
}

.delete-button:hover {
    background-color: #f1f1f1;
    border-color: #bb0000;
    color: #bb0000;
}

#searchFieldText {
    font-size: 2em;
}

#searchText {
    width: 400px;
}

.edit-button {
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
    color: #f1f1f1;
    padding: 7px 14px;
    border: solid;
    border-radius: 4px;
    border-color: #442266;
    background-color: #442266;
    transition-duration: 0.2s;
}

.edit-button:hover {
    background-color: #f1f1f1;
    color: #333333;
}

#contactsList {
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    color: #333333;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin: 20px;
    background-color: #f1f1f1;
    text-align: left;
    display: none;
}

th {
    padding: 15px;
    font-size: 1.25em;
}

td {
    padding: 15px;
}
